.page-wrapper {
  display: flex;
  width: 80%;
  height: 90%;
}
/* modal */
/* .modal-title {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  color: #fff;
}
label {
  color: white;
  font-family: Helvetica;
  font-size: 13px;
}
.modal-header-text {
  text-align: left;
  color: #c4c4c4;
  line-height: 1.29;
  font-family: Helvetica;
  font-size: 14px;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.modal-bottom-text {
  color: #8b8ea6;
  font-size: 13px;
}
.btn-div {
  display: flex;
  justify-content: flex-end;

  padding: 10px 0px;
}
.safe-icon {
  padding-right: 10px;
}
.form-group {
  margin-top: 10px;
} */
