.modal-title {
  font-family: Roboto;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
  color: #fff;
}
label {
  color: white;
  font-family: Helvetica;
  font-size: 0.813rem;
}
.modal-header-text {
  text-align: left;
  color: #c4c4c4;
  line-height: 1.29;
  font-family: Helvetica;
  font-size: 0.875rem;
}
.search-icon {
  padding-left: 0.625rem;
  width: 1.888rem;
  height: 1.875rem;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.modal-bottom-text {
  color: #8b8ea6;
  font-size: 0.813rem;
}
.btn-div {
  display: flex;
  justify-content: flex-end;

  padding: 0.625rem 0;
}
.safe-icon {
  padding-right: 0.625rem;
}
.form-group {
  margin-top: 0.625rem;
}
.select-type {
  width: 100%;
  height: 3.125rem;
  outline: none;
  margin-bottom: 0.313rem;
  margin-top: 0.313rem;
  padding: 0.625rem;
}

.list-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.938rem;
  width: 100%;
}
.list-content-left {
  display: flex;
  align-items: center;
}
.list-data {
  border-bottom: 1px solid #2a2e3e;
  width: 100%;
  display: flex;
  align-items: center;
}

.list-data:hover {
  cursor: pointer;
  /* background-image: linear-gradient(to right, #72134b, #1d212c); */
}
.iconsafe {
  width: 2.125rem;
  height: 2.438rem;
  margin: 0.625rem;
}
.edit-icon {
 
  /* height: 16px;
    width: 16px; */
      margin-right: 15px;
     
    
    padding: 0 0.5rem;
    height: 30px;
    width: 30px;
    /* padding-right: 0.75rem; */
    
}
 .edit-icon:hover{
  border-radius: 50%;
    background-color: #404147;
    
    
    
    /* display: flex;
    justify-content: center;
    align-items: center; */
  
} 
    

.delete-icon {
  padding-right: 1.25rem;
  
     
    padding: 0 0.5rem;
    height: 30px;
    width: 30px;
}

.delete-icon:hover{
   border-radius: 50%;
    background-color: #404147;
    
    /* display: flex;
    justify-content: center;
    align-items: center;
    */
}
.edit-delete-icon-container {
  display: flex;
}

.aside-body-img-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.create-safe-text {
  line-height: 1.29;
  font-size: 0.875rem;
  text-align: center;
  color: rgb(193 191 191);
  position: absolute;
  top: 80%;
  left: 10%;
}
.no-data-found-text {
  line-height: 1.29;
  font-size: 1rem;
  text-align: center;
  color: rgb(193 191 191);

  top: 80%;
  left: 30%;
}
.active {
  background-image: linear-gradient(to right, #72134b, #1d212c);
}
.form-group-secret {
  padding: 2.5rem 0px;
}
.instruction-text{
color: #8b8ea6;
    font-family: Helvetica;
    font-size: 12px;
}
