.secret-container {
  width: 100%;
 
  /* max-height: 22rem; */
      max-height: calc(100vh - 25rem);;
    overflow-y: scroll;
}
ul.secret-ul {
    /* max-height: 22.5rem;
    overflow-y: scroll; */
    
}

.secret-container::-webkit-scrollbar{ width :0px; }
.list-secret {
  color: #d0d0d0;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0.938rem;
  
  border-bottom: 1px solid #2a2e3e;
}
.list-secret:hover {
  background-image: linear-gradient(to right, #72134b, #1d212c);
}

.icon-folder {
  width: 2.5rem;
  height: 2.5rem;
  flex-grow: 0;
  margin: 0 1rem 0 0.5rem;
}
.add-folder-icon {
  padding-left: 0.625rem;
}
.add-folder-icon:hover {
  cursor: pointer;
}



.tooltip {
  position: relative;
  
  }
  
.tooltiptext {
  visibility: hidden;
  width: 100%;
      background-color: #222632;
    color: rgb(193 191 191);
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 0;
     left: 5%;
    margin-left: -10px;
    margin-bottom: -66px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}