header {
  font-family: Helvetica;
  color: #ffffff;
  height: 4.375rem;

  background-color: #151820;

  box-shadow: 0 0.313rem 1.563rem 0 rgba(226, 0, 116, 0.5);
  display: flex;
  justify-content: center;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 10rem;
  padding-right: 9.375rem;
  box-shadow: 0 0.313rem 1.563rem 0 rgba(226, 0, 116, 0.5);
}
.logo-section {
  display: flex;
  align-items: center;
}
.logo {
  width: 2.063rem;
  height: 2.063rem;
}
.T-VAULT {
  font-family: NunitoSans;
  margin: 0 0 0 0.75rem;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 3.84px;
  text-align: left;
}
.logo_middle_section {
  display: flex;
  align-items: center;
  height: 100%;
}
.middle-section {
  padding-left: 1.563rem;
}
.middle-section,
.right-section {
  font-family: Helvetica;
  font-size: 0.813rem;
  font-weight: bold;
  text-align: left;
  height: 100%;
  display: flex;
  align-items: center;
}
.middle-section li,
.right-section span {
  height: 100%;

  display: flex;
  align-items: center;
}
.right-section span {
  padding: 0 0.625rem;
}
.middle-section li a {
  text-decoration: none;
  color: white;
  padding: 1.7rem 0.625rem;
}
.middle-section li:hover {
  cursor: pointer;
  background-image: linear-gradient(to top, #72134b, #1d212c);
}
.right-section span:hover {
  cursor: pointer;
  background-image: linear-gradient(to top, #72134b, #1d212c);
}
.nav-active {
  background-image: linear-gradient(to top, #72134b, #1d212c);
}
