.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: calc(100% - 33.125rem);
}
.banner {
  height: 11.938rem;
  position: relative;
  background-image: url(../../assets/images/Banner_img.svg);
  margin-top: -0.469rem;
}
.banner-img {
  position: absolute;
  top: -4%;
  width: 100%;
}
.text-centered {
  position: absolute;
  top: 30%;
  left: 30%;
}
.main-text {
  /* font-family: Roboto; */
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
  color: #fff;
}
.sub-text {
  font-family: Helvetica;
  font-size: 0.875rem;
  line-height: 3;
  text-align: left;
  color: #c4c4c4;
}
.main-area {
  background-image: linear-gradient(to top, #151820, #2c3040);
  height: calc(100% - 11.938rem);

  display: flex;
  flex-direction: column;
}
.secretimg {
  width: 11rem;
  height: 11rem;
  text-align: center;
}
.main-area-header {
  display: flex;
  color: #5e627c;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1rem;
  border-bottom: 2px solid #222632;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem;
}
.main-area-header-left {
  display: flex;
  justify-content: space-between;
}
.main-area-header-right li {
  display: flex;
  align-items: center;
}
.permission-li {
  padding-left: 0.625rem;
}
.main-area-body {
  /* display: flex;

  justify-content: center; */
  height: 100%;
}
.container {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 1.875rem;
}
.main-area-text {
  font-size: 0.875rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  line-height: 1.29;
  font-family: Helvetica;
}
.add-button {
  width: 5.875rem;
  height: 2.25rem;
  background-color: #454c5e;
  font-size: 0.875rem;
  font-weight: bold;
  color: #fff;
  border: none;
}
.add-button:hover {
  cursor: pointer;
  background-color: #e20074;
}
.text-style {
  font-family: Roboto;
  font-weight: bold;
  color: #fff;
}
